body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-info {
    margin: 0px 100px 75px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-top h1{
    font-size: 24px;
}

.header-top ul{
    display: flex;
}

.header-top ul li {
    padding-right: 20px;
    list-style-type: none;
}

.header-bottom {
    display: flex;
}

.header-bottom .header-text h1 {
    font-size: 48px;
    font-weight: bolder;
}

.header-bottom .header-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.header-text, .img-placeholder {
    flex: 1 1 0;
    margin: 50px;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    background-color: grey;
    align-items: center;
}

.second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:
}

.cards{
    display: flex;
    gap: 10px;
    margin: 0px 200px;
    margin-bottom: 100px;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    height: 150px;
    width: 150px;
    border:2px solid #3882F6;
    border-radius: 12px;
    margin: 0;
}
.quote-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 75px 275px;
}

.quote-items {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    font-weight: lighter;
}

.quoter {
    align-self: end;
    font-size: 18px;
    font-weight: bold;
}

.sign-up, .sign-up-button, .header-text button {
    background-color:#3882F6;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}

button {
    border-radius: 12px;
    padding: 10px;
}

.sign-up {
    margin: 150px;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    color: white;
}

.sign-up-button {
    align-self: center;
    border-color: white;
}

button {
    color: white;
    border-style: solid;
}

.sign-up-text h1{
    font-weight: bold;
    margin-bottom: 0;
}

.sign-up-text p {
    font-weight: lighter;
    color: #E5E7EB;
    margin-top: 0;
}

.sign-up-text {
    margin: 20px;
}